<mat-toolbar color="primary">
    <mat-icon (click)="isExpanded = !isExpanded" class="chevron-button"
      [style.transform]="!isExpanded ? '':'rotate(180deg)'">chevron_right</mat-icon>
  <span class="nav-title">Tokio Technical Test</span>
</mat-toolbar>

<mat-sidenav-container autosize class="sidenav">
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-nav-list>

      <mat-list-item [routerLink]="'scheduling'">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Agendamentos</span>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="body">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
